<div>
<mat-toolbar color="primary">
   <span>Kanbel</span>
   <div class="spacer"></div>
<a mat-button class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
<a mat-button class="nav-link" routerLink="/users" routerLinkActive="active">users</a>
<a mat-button class="nav-link" routerLink="/About" routerLinkActive="active">About</a>
<a mat-button>Contact</a>
<a mat-raised-button color="accent" >Login</a>
</mat-toolbar>
<app-sidenav class="black-border">

</app-sidenav>
<router-outlet></router-outlet>

</div> 

