.black-border{
    border: 1px solid black;
}

app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}
main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-sidenav{
    position: absolute;
    left: 0rem;
    width: 100px;
    height: calc(100vh - 4rem);
}